<div class="banner">
    <div class="container">
        <div class="align-center">
            <div class="service-title">
                <h3>Développement d'Application</h3>
            </div>
        </div>
    </div>
</div>

<div class="service-dev">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-white">
                <h3>Transformez Vos Idées en Réalité Digitale avec Nos Services de Développement</h3>
                <h5>✨ Innovation. Excellence. Transformation</h5>
                <p>
                    Chez [Votre Nom d'Entreprise], nous faisons bien plus que du développement. 
                    Nous façonnons des expériences digitales exceptionnelles, en collaborant étroitement avec vous 
                    pour transformer vos idées en solutions technologiques puissantes. Que vous recherchiez un site web époustouflant, 
                    une application mobile révolutionnaire ou une solution logicielle sur mesure, nous sommes prêts à concrétiser votre vision.
                </p>
            </div>
        </div>
    </div>
    <div class="nos-services">
        <div class="container">
            <div class="row px-3">
                <h4>Nos compétences en Développement</h4>

                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <h5>Développement des sites Web</h5>
                            <div class="content">
                                <p><i class="bi bi-check2-circle"></i>Conception et développement de sites web.</p>
                                <p><i class="bi bi-check2-circle"></i>Développement de sites web réactifs et adaptés aux mobiles.</p>
                                <p><i class="bi bi-check2-circle"></i>Développement de sites e-commerce.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <h5>Développement d'applications web</h5>
                            <div class="content">
                                <p><i class="bi bi-check2-circle"></i>Conception et programmation d'applications web sur mesure.</p>
                                <p><i class="bi bi-check2-circle"></i>Développement d'applications basées sur des frameworks tels que Angular, React</p>
                                <p><i class="bi bi-check2-circle"></i>Développement de sites e-commerce.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <h5>Développement d'Applications Mobiles</h5>
                            <div class="content">
                                <p><i class="bi bi-check2-circle"></i>Développement d'applications pour iOS et Android.</p>
                                <p><i class="bi bi-check2-circle"></i>Création d'applications natives, hybrides ou basées sur le web.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <h5>Maintenance et support</h5>
                            <div class="content">
                                <p><i class="bi bi-check2-circle"></i>Services de maintenance préventive et corrective.</p>
                                <p><i class="bi bi-check2-circle"></i>Mise à jour régulière des applications pour garantir la sécurité et la performance.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <h5>Hébergement et gestion de serveurs</h5>
                            <div class="content">
                                <p><i class="bi bi-check2-circle"></i>Proposition de solutions d'hébergement adaptées aux besoins de l'entreprise.</p>
                                <p><i class="bi bi-check2-circle"></i>Gestion des serveurs, des bases de données, et des services connexes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="dev-content">
                            <img src="../assets/images/dev.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="dev-atout">
        <div class="container">
            <h3 class="text-white">🤝 Pourquoi Nous Choisir ?</h3>
            <div class="row">
                <div class="col-md-6 text-white atout">
                    <h5>Expertise Technique</h5>
                    <p>Une équipe de développeurs chevronnés maîtrisant les dernières technologies.</p>
                    <h5>Collaboration Transparente</h5>
                    <p>Nous travaillons main dans la main avec vous pour atteindre vos objectifs.</p>
                    <h5>Solutions Évolutives</h5>
                    <p>Des solutions adaptées à vos besoins actuels et prêtes à évoluer avec votre entreprise.</p>
                    <h5>Engagement envers l'Excellence</h5>
                    <p>Nous visons l'excellence dans chaque ligne de code, chaque pixel et chaque interaction.</p>  
                </div>
                <div class="col-md-6">
                    <img src="../assets/images/dev.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="cont">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4>
                    Prêt à révolutionner votre approche du développement logiciel ? Contactez-nous pour une consultation personnalisée.
                </h4>
                <p>
                    Notre équipe d'experts est prête à collaborer avec vous pour comprendre vos besoins spécifiques, 
                    identifier les opportunités d'optimisation, et élaborer une stratégie sur mesure pour propulser votre entreprise 
                    vers de nouveaux sommets. N'attendez plus, faites le premier pas vers une transformation totale de votre système d'information réussie !
                </p>
                <div class="contact">
                    <a routerLink="/contact" class="btn">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-service py-4">
    <h3 class="text-center text-white">Nos Services</h3>
    <techrun-nos-services></techrun-nos-services>
</div>
