<footer class="page-footer text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <h5>TECHRUNS</h5>
          <p>
            Votre partenaire de confiance pour l'innovation technologique, l'excellence 
            opérationnelle et la croissance durable. Ensemble, nous façonnons le futur numérique.
          </p>
        </div>
        <div class="col-sm-12 col-lg-3">
          <h5>Solutions</h5>
          <ul>
            <li><a routerLink="/developpement">Développement Web</a></li>
            <li><a routerLink="/infrastructure-it">Infrastructure IT</a></li>
            <li><a routerLink="/devops">DevOps</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-3">
          <h5>A Propos</h5>
            <p>
              Nous sommes dévoués à l'innovation, à la créativité et à la satisfaction du client.
            </p>
          <a class="btn mb-3" routerLink="/about">En savoir plus</a>
        </div>
        <div class="col-sm-12 col-lg-3">
          <h5>Suivez-nous</h5>
          <div class="d-flex flex-colum flex-lg-row justify-content-start my-4 align-items-center gap-3 reso">
            <a href="#facebook"><i class="bi bi-facebook"></i></a>
            <a href="#twitter-x"><i class="bi bi-twitter-x"></i></a>
            <a href="#google"><i class="bi bi-google"></i></a>
            <a href="#instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container text-white">
      © 2024 techruns
      </div>
    </div>
</footer>
