<div class="container">
  <div class="services">
    <div class="row">
      <div class="col col-m3 col-l3" routerLink="/developpement">
        <div class="card">
          <div class="content">
            <img src="../assets/images/developing.png" alt="">
            <h4>Développement Web</h4>
          </div>
          <p>Nous créons des sites web, des applications modernes et performants.</p>
        </div>
      </div>
      <div class="col col-m3 col-l3" routerLink="/infrastructure-it">
        <div class="card">
          <div class="content">
            <img src="../assets/images/cyber-securite.png" alt="">
            <h4>Infrastructure IT</h4>
          </div>
          <p>Libérez le potentiel de votre entreprise avec notre Service d'Infrastructure IT Innovant !</p>
        </div>
      </div>
      <div class="col col-m3 col-l3" routerLink="/devops">
        <div class="card">
          <div class="content">
            <img src="../assets/images/agile.png" alt="">
            <h4>DevOps</h4>
          </div>
          <p>Transformez Votre Développement avec Nos Services DevOps Avancés !</p>
        </div>
      </div>
    </div>
  </div>
</div>
