<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="service-title">
                <h3>A Propos de Nous</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-about">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">À Propos de TechRuns</h2>
                <p>
                    Bienvenue chez TechRuns, votre partenaire de confiance pour des solutions informatiques innovantes et efficaces. Depuis notre création, nous nous sommes engagés à fournir des services IT de haute qualité, couvrant un large éventail de besoins, allant du développement d'applications à la gestion d'infrastructure et aux services DevOps.
                </p>
            
                <h3 class="mt-4">Notre Mission</h3>
                <p>
                    Chez TechRuns, notre mission est de transformer les défis informatiques en opportunités de croissance pour nos clients. Nous croyons fermement que la technologie peut être un catalyseur puissant pour l'innovation et la réussite des entreprises. En collaborant avec nous, vous bénéficiez de partenaires dédiés, prêts à comprendre vos objectifs commerciaux et à fournir des solutions sur mesure qui surpassent vos attentes.
                </p>
                
                <h3 class="mt-4">Nos valeurs</h3>
                <div class="row content-value ">
                    <div class="col-md-8 order-2 order-md-1">
                        <h4>Engagement envers l'excellence</h4>
                        <div class="text">
                            <p class="text-left">
                                Nous nous efforçons constamment d'atteindre l'excellence dans tout ce que nous faisons, 
                                en fournissant des solutions qui dépassent les normes de l'industrie.
                            </p>
                            <div class="bi">
                                <i class="bi bi-1-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 d-flex align-items-center justify-content-center">
                        <img src="../assets/images/campus2.jpg" alt="" class="img-fluid">
                    </div>
                </div> 
                <div class="row content-value my-4">
                    <div class="col-md-4 order-1 order-md-2 d-flex align-items-center justify-content-center">
                        <img src="../assets/images/campus2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 order-2 order-md-1">
                        <h4>Collaboration transparente</h4>
                        <div class="text">
                            <p class="text-right">
                                Nous croyons en une communication ouverte et transparente avec nos clients, 
                                favorisant une collaboration étroite tout au long du processus.
                            </p>
                            <div class="bi">
                                <i class="bi bi-2-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row content-value my-4">
                    <div class="col-md-8 order-2 order-md-1">
                        <h4>Innovation continue</h4>
                        <div class="text">
                            <p class="text-right">
                                La technologie évolue rapidement, et nous nous engageons à rester en tête 
                                du peloton en adoptant les dernières tendances et technologies.
                            </p>
                            <div class="bi">
                                <i class="bi bi-3-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 d-flex align-items-center justify-content-center">
                        <img src="../assets/images/campus2.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>