<div class="banner">
    <div class="container">
        <div class="align-center">
            <div class="service-title">
                <h3>DevOps</h3>
            </div>
        </div>
    </div>
</div>
<div class="devops-descrip">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="devops">
                    <h3>Transformez Votre Cycle de Développement avec Nos Services DevOps</h3>
                    <h5>🚀 Innover plus rapidement, déployer plus efficacement.</h5>
                    <p>
                        Le monde des logiciels évolue rapidement, et votre entreprise doit rester en tête. 
                        Nos services DevOps sont conçus pour révolutionner la manière dont vous développez, testez, 
                        déployez et maintenez des logiciels. Libérez le plein potentiel de votre équipe de développement 
                        et d'exploitation avec une collaboration transparente et une automatisation intelligente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-devops">
    <div class="container">

        <h4>Ce que nous offrons</h4>
        
        <div class="row">
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🔄 Intégration Continue (CI) et Livraison Continue (CD) </h5>
                    <p>Accélérez le cycle de vie de votre logiciel, de la conception à la production.</p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🐳 Containerization et Orchestration</h5>
                    <p>Adoptez la flexibilité et la portabilité des conteneurs pour un déploiement sans heurts.</p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🛠️ Automatisation des Tests et des Déploiements </h5>
                    <p>Assurez-vous de la qualité à chaque étape du processus.</p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🌐 Infrastructure en tant que Code (IaC)</h5>
                    <p>Gérez et provisionnez votre infrastructure avec agilité et précision.</p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🔍 Surveillance et Analyse</h5>
                    <p>Identifiez les opportunités d'amélioration continue grâce à une visibilité complète.</p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="text-devops">
                    <h5>🤖 Automatisation des Processus Métier</h5>
                    <p>Libérez du temps pour l'innovation en automatisant les tâches répétitives.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cont">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-8 offset-md-2">
                <h4>
                    Prêt à révolutionner votre approche du développement logiciel ? 
                    Contactez-nous pour une consultation personnalisée.
                </h4>
                <p>
                    Notre équipe d'experts est prête à collaborer avec vous pour comprendre vos besoins spécifiques, 
                    identifier les opportunités d'optimisation, et élaborer une stratégie sur mesure pour propulser votre entreprise 
                    vers de nouveaux sommets. N'attendez plus, faites le premier pas vers une transformation totale de votre système d'information réussie !
                </p>
                <div class="contact">
                    <a routerLink="/contact" class="btn">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-service py-4">
    <h3 class="text-center text-white">Nos Services</h3>
    <techrun-nos-services></techrun-nos-services>
</div>