<!-- <div class="carousel-ban">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="d-flex flex-column">
          <h4 class="display-3">Teckruns votre partenaire en Transformation Digitale</h4>
          <p class="lead">Transformez votre entreprise avec nos solutions numériques innovantes.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let item of carousel">
              <img [src]="item.urlImg" class="d-block w-100" alt="les images de la banniere">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="ban">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5">
        <h4 class="display-6 text-left">Teckruns votre partenaire en Transformation Digitale</h4>
        <p class="lead">Transformez votre entreprise avec nos solutions numériques innovantes.</p>
      </div>
      <div class="col-md-6">
        <img src="../assets/images/ban.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-6 text">
        <h3>Qui somme nous</h3>
        <p>
          Teckruns est une entreprise de pointe spécialisée dans la prestation de services informatiques. 
          Notre passion pour la technologie et notre engagement envers l'innovation nous distinguent sur le marché. 
          Depuis notre création, nous nous efforçons de guider nos clients à travers leur parcours de transformation digitale.
        </p>
        <div class="btn-about">
          <a routerLink="/about" class="btn">En savoir plus</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../assets/images/13.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <h4>
      Découvrez l'avenir numérique sans limites avec nos services IT. 
    </h4>
    <p>
      Nous ne sommes pas simplement des prestataires de services informatiques, 
      nous sommes vos partenaires de transformation digitale.
    </p>
  </div>
  <div class="row">
    <techrun-nos-services></techrun-nos-services>
  </div>
</div>

<div>
  <teckruns-atout></teckruns-atout>
</div>

<div class="contenu-video">
  <div class="container">
    <video autoplay controls>
      <source src="./assets/images/woca-video.mp4" type="video/mp4">
    </video>
  </div>
</div>